
<div class="section">
    <div class="card">
        <div class="card bg-secondary text-white">
            <div class="card-body">
                <ul>
                    <li>Wake up</li>
                    <li>Have a Breakfast</li>
                    <li>Start the daily work</li>
                    <li>Have a lunch</li>
                    <li>Windup all tasks</li>
                    <li>Have a dinner</li>
                    <li>Have a peaceful sleep</li>
                </ul>
            </div>
        </div>
    </div>
</div>